<!doctype html>
    <title>v1 Just another parser - Flask & SQLAlchemy</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<body>
    <div id="nav">
        <ul>
    	    <li><a href="{{ url_for('add_entry') }}">Project 1</a></li>
            <li><a href="{{ url_for('project_two') }}">Project 2</a></li>
            <li><a href="{{ url_for('project_three') }}">Project 3</a></li>
            <li><a href="{{ url_for('project_four') }}">Project 4</a></li>
        </ul>
        <p></p>
    </div>
    <section>
    <div>
    <p>A simple web parser that computes a number of tags in the url provided or returns an exception</p>
    <ul>
        <li>requests & BeautifulSoup</li>
        <li>SQLAlchemy</li>
    </ul>
    </div>
    <div>
    <div>
        <nav>
            <a href="{{ url_for('add_entry') }} ">Page 1</a>
            <a href="{{ url_for('show_entries') }}">Page 2</a>
        </nav>
    </div>
        {% block body %}{% endblock %}
    </section>
</body>
