{% extends "layout.html" %}
{% block body %}
    <div>
        <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
            <input type=text name=url placeholder="Enter the URL">
            <input type=submit value=Submit class="transparent_button active" >
        </form>
    </div>
{% if error %}
    <div><p class=error>{{ error }}</div>
{% endif %}

    {% if entries %}
        <table>
        <tr>
            <th>URL</th>
            <th>all tags</th>
            <th>{{'<'}}a{{'>'}} tags</th>
            <th>{{'<'}}div{{'>'}} tags</th>
        </tr>
        {% for entry in entries %}
            <tr>
                <td>{{ entry.url }}</td>
                <td>{{ entry.all_tags }}</td>
                <td>{{ entry.a_tags }}</td>
                <td>{{ entry.div_tags }}</td>
            </tr>
        {% endfor %}
        </table>
    {%  endif %}

{% block content %}{% endblock %}
{% endblock %}
