<!doctype html>
    <title>Web Scraping: asyncIO, redis, urllib  </title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<body>
    <div id="nav">
        <ul>
    	    <li><a href="{{ url_for('add_entry') }}">Project 1</a></li>
            <li><a href="{{ url_for('project_two') }}">Project 2</a></li>
            <li><a href="{{ url_for('project_three') }}">Project 3</a></li>
            <li><a href="{{ url_for('project_four') }}">Project 4</a></li>
            <li><a href="{{ url_for('project_five') }}">Project 5</a></li>
        </ul>
    </div>
    <section>
    <div>
        <h2>Pandas</h2>
        <p>Study materials. Analyzing data <a href="{{ url_for('static', filename='olympics.csv') }}" >csv</a> file
            derived from the <a href="https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table">All-time Olympic Games medal table Wikipedia</a> page with the help of:</p>
        <ul>
            <li>pandas</li>
        </ul>
    </div>
    {% for table in tables %}
            {{ table|safe }}
    {% endfor %}


        </section>
</body>