<!doctype html>
    <title>Web Scraping: asyncIO, redis, urllib  </title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<body>
    <div id="nav">
        <ul>
    	    <li><a href="{{ url_for('add_entry') }}">Project 1</a></li>
            <li><a href="{{ url_for('project_two') }}">Project 2</a></li>
            <li><a href="{{ url_for('project_three') }}">Project 3</a></li>
            <li><a href="{{ url_for('project_four') }}">Project 4</a></li>
            <li><a href="{{ url_for('project_five') }}">Project 5</a></li>
        </ul>
    </div>
    <section>
    <div>
        <h2>asyncIO & AIOHTTP</h2>
        <p>Scraping the <a href="https://www.houzz.com/professionals/architect/c/Woodbridge--ON" target="_blank">https://www.houzz.com/professionals/architect/</a>
            website to collect contact information of architecture companies, with the help of:</p>
        <ul>
            <li>asyncio, aiohttp - to speed up I/O operations </li>
        </ul>
    </div>
        <form action="{{ url_for('project_three') }}" method=post class=add-entry>
            <input type=text name=url placeholder="https://www.houzz.com/professionals/architect/c/Woodbridge--ON">
            <input type=submit value=Parse class="transparent_button active" >
        </form>
    {% if error %}
        <div><p class=error>{{ error }}</div>
    {% endif %}
        {% block body %}{% endblock %}
    {% if stats %}
        <div><p class=stats>{{ stats }}</div>
    {% endif %}

    {% if entries %}
        <table>
        <tr>
            <th>company</th>
            <th>location</th>
            <th>website</th>
            <th>contact</th>
            <th>telephone</th>
            <th>typical cost</th>

        </tr>
        {% for entry in entries %}
        <tr>
            <td>{{ entry.name }}</td>
            <td>{{ entry.location }}</td>
            <td>{{ entry.website }}</td>
            <td>{{ entry.contact_name }}</td>
            <td>{{ entry.telephone }}</td>
            <td>{{ entry.typical_cost }}</td>
        </tr>
        {% endfor %}
        </table>

    {% endif %}
    </section>
</body>