<!doctype html>
    <title>Web Scraping: Selenium</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<body>
    <div id="nav">
        <ul>
    	    <li><a href="{{ url_for('add_entry') }}">Project 1</a></li>
            <li><a href="{{ url_for('project_two') }}">Project 2</a></li>
            <li><a href="{{ url_for('project_three') }}">Project 3</a></li>
        </ul>
    </div>
    <section>
    <div>
        <h2>Web Scraping</h2>
        <p>Scraping an aggregator website <a href="https://www.103.ua/list/stomatologii/kiev/" target="_blank">https://www.103.ua/list/stomatologii/kiev/</a>
            to gather clinics' contact information, with the help of:</p>
        <ul>
            <li>Selenium - Beautiful Soup (Requests on back up)</li>
            <li>SQLAlchemy</li>
            <li>openpyxl module for exporting results into MS Excel file</li>
        </ul>
    </div>
        <form action="{{ url_for('project_two') }}" method=post class=add-entry>
            <input type=text name=url placeholder="https://www.103.ua/list/stomatologii/kiev/">
            <input type=submit value=Parse class="transparent_button active" >
        </form>
    {% if error %}
        <div><p class=error>{{ error }}</div>
    {% endif %}
        {% block body %}{% endblock %}

    {% if entries %}
        <table>
        <tr>
            <th>name</th>
            <th>address</th>
            <th>website</th>
            <th>phone</th>
        </tr>
        {% for entry in entries %}
        <tr>
            <td>{{ entry.name }}</td>
            <td>{{ entry.address }}</td>
            <td>{{ entry.website }}</td>
            <td>{{ entry.phone }}</td>
        </tr>
        {% endfor %}
        </table>
        {% if file_name %}
            <form method=get action={{ file_name }} class=add-entry>
{#              <form method=get action="/static/file.xlsx" class=add-entry>#}
                <input type=submit value='Open MS Excel file' class="transparent_button active" >
            </form>
        {% endif %}
    {% endif %}
    </section>
</body>